<!-- The sidebar -->
<div class="sidebar">
  <a class="active" routerLink="home">Home</a>
  <a routerLink="placeorder">Place Gift Card Order</a>
  <a routerLink="vieworder">View Gift Card Orders</a>
</div>

<div class="container">
  <div class="d-flex justify-content-center">
    <img width="60px" alt="Logo"
      src="https://image.shutterstock.com/image-vector/letter-s-sync-logo-design-600w-500701153.jpg" />
  </div>
  <h1 class="d-flex justify-content-center">Gift Card Application</h1>
  <h3 class="d-flex justify-content-center">Welcome to Gift Card Application, you can place order for your special occasion</h3>
  <nav class="navbar navbar-expand-sm bg-light navbark-dark">
    <ul class="navbar-nav">
      <li class="nav-item">
        <button routerLink="home" class="m-1 btn btn-light btn-outline-primary" Button label="home">
          Home
        </button>
      </li>
      <li class="nav-item">
        <button routerLink="placeorder" class="m-1 btn btn-light btn-outline-primary" Button label="placeorder">
          Place Gift Card Order
        </button>
      </li>
      <li class="nav-item">
        <button routerLink="vieworder" class="m-1 btn btn-light btn-outline-primary" Button label="vieworder">
          View Gift Card Orders
        </button>
      </li>
    </ul>
  </nav>

  <router-outlet></router-outlet>
</div>
